body {
  background-color: rgb(71, 91, 180);
}
h2 {
  padding-top: 10px;
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
p {
  padding-bottom: 10px;
}

h2, h3, p {
  color: rgb(229, 232, 234);
}
.container-form {
  max-width: 1200px;
  margin: 30px auto 0;
  border: 1px solid transparent;
  width: 90%;
  border-radius: 10px;
  background-color: rgb(226, 227, 230);
  .form__wrapper {
    padding: 15px;
  }

  input {
    border: none;
    border-radius: 10px;
    width: 80%;
    outline: none;
    &:focus {
      box-shadow: none;
      border: none;
    }
  }
  .form__submit {
    width: 100%;
    border-radius: 10px;
  }
  .form__user-card {
    padding: 0 15px;
    margin: 0 auto 20px;
    border: 0 solid whitesmoke;
    border-radius: 10px;
    background-color: aliceblue;
    background-image: linear-gradient(
      135deg,
      rgba(110, 123, 251, 1) 20%,
      
      rgba(110, 123, 251, 1) 20%
    );
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .card-wrapper {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .form__wrapper > div {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
}
